<div class="container-fluid page-container about-us">
        <div class="row mt-5">
            <div class="col-8 col-lg-6 offset-2 offset-lg-3">
                <div class="px-3 shadowed-text">ABOUT US</div>
                <div class="divider-bottom"></div>
                <div class="row">
                    <div class="col mx-5 about-us-description">
                        Ticket Buddy is a platform that allows users to find and purchase tickets for various events, and also review them and read reviews from fellow users. Developed by a team of two students from the University of Patras for Web Programming course, it is a project with the purpose of implementing and showcasing the knowledge of web technologies acquired during the semester.
                    </div>
                </div>
                {{#each persons as |person|}}
                    <div class="row" id="person{{@index}}">
                        <div class="col-md-4 mt-5">
                            <img src={{person.image}} class="rounded-circle float-right img-fluid photo"
                                alt="{{person.firstname}} {{person.lastname}}">
                        </div>
                        <div class="col-md-8 mt-5">
                            <div class="name">{{person.firstname}} {{person.lastname}}</div>
                            <div class="email mt-1">{{person.email}}</div>
                            <div class="description mt-3">{{person.description}} </div>
                        </div>
                    </div>
                {{/each}}
            </div>

        </div>
    </div>