<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<div class="container-fluid booking-complete page-container">
    <div class="row">
        <div id={{eventInfo.eventID}} class="card mt-3 mx-auto event-card divider-bottom">
            <div class="row gx-2">
                <div class="col-md-5 col-lg-4 col-xl-3 event-img-cols">
                    <img src="{{eventInfo.imageURL}}" class="card-img event-img img-fluid" id="review-of-event-img"
                        alt="...">
                </div>
                <div class="col-md-7 col-lg-8 col-xl-9">
                    <div class="event-card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="event-card-title">{{eventInfo.title}}</h5>
                                <p class="event-card-date">{{eventInfo.show_date}}</p>
                                <p class="event-card-location ">{{eventInfo.city}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-11">
                                <p class="event-card-description">{{eventInfo.description}} </p>
                            </div>
                            <div class="col-1 arrow-container ">
                                <img src="/svgs/dark_arrow.svg" class="dark-arrow img-fluid" alt="">
                                <img src="/svgs/light_arrow.svg" class="light-arrow img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10 col-md-8 offset-1 offset-md-2 divider-bottom">
        </div>
    </div>
    <div class="row">
        <div class="col-10 col-md-8 my-3 offset-1 offset-md-2 text-center">
            {{#if_eq success true}}
            <img src="/svgs/Tick_Square.svg" alt="">
            <span class="booked-successfully">BOOKED SUCCESSFULLY</span>
            {{else}}
            <img src="/svgs/RedX.svg" class="pe-1 pb-1" alt="">
            <span class="booked-failed">BOOKING FAILED</span>
            {{/if_eq}}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-10 col-sm-8 col-md-6 offset-1 offset-sm-2 offset-md-3 shadowed-text">
            <div class="shadowed-text details-header">DETAILS</div>
            <!-- <div class="divider-bottom"> </div> -->
        </div>
        <div class="col-10 col-sm-8 col-md-6 offset-1 offset-sm-2 offset-md-3 divider-bottom">
        </div>
        <div class="col-10 col-sm-8 col-md-6 offset-1 offset-sm-2 offset-md-3">
            {{#if success}}
            {{#each tickets as |ticket|}}
            <div class="ticket-details mt-3">
                <div class="index"><i class="">Ticket</i> #{{#incr @index}}{{/incr}} </div>
                <div class="number"><i class="me-2">Ticket Number:</i>{{ticket.ticketNumber}}</div>
                <div class="location"><span class="text-overlay me-2">Location:</span>{{../eventInfo.venueName}},
                    {{../eventInfo.venueCity}}, {{../eventInfo.venueAddress}}</div>
                <div class="date"><span class="text-overlay me-2">Date:</span>{{../eventInfo.showDate}}</div>
                <div class="time"><span class="text-overlay me-2">Time:</span>{{../eventInfo.showTime}}</div>
                <div class="seating-zone"><span class="text-overlay me-2">Seating Zone:</span>{{ticket.seatingCategory}}
                </div>
                <div class="discount"><span class="text-overlay me-2">Applied
                        Discount:</span>{{ticket.discountCategory}}</div>
                <div class="final-ticket-price"><span class="text-overlay me-2">Final
                        Price:</span>{{ticket.finalPrice}}€</div>
            </div>
            {{/each}}
            <div class="total-amount mt-4">
                Total Amount: {{totalAmount}}€
            </div>
        </div>
        <div class="col-10 col-md-8 my-5 offset-1 offset-md-2 divider-bottom">
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-10 col-sm-8 col-md-6 offset-1 offset-sm-2 offset-md-3 shadowed-text">
            <div class="shadowed-text download-tickets-header">DOWNLOAD TICKETS</div>
            <!-- <div class="divider-bottom"> </div> -->
        </div>
        <div class="col-10 col-sm-8 col-md-6 offset-1 offset-sm-2 offset-md-3 divider-bottom">
        </div>
        <div class="col-10 col-sm-8 col-md-6 offset-1 offset-sm-2 offset-md-3 download-tickets-file">
            {{#each tickets as |ticket|}}
            <a href="{{ticket.downloadLink}}" download="{{ticket.downloadLink}}">
                <i class="far fa-file-alt file-icon"></i>
                <div class="tickets-text">
                    <div class="file-name">
                        ticket{{#incr @index}}{{/incr}}-{{ticket.ticketNumber}}.pdf
                    </div>
                    <hr />
                    <div class="file-size small">
                        ticket {{#incr @index}} {{/incr}}
                    </div>
                </div>
            </a>
            {{/each}}
        </div>
        {{else}}
        <div class="col-10 col-sm-8 col-md-6 offset-1 offset-sm-2 offset-md-3">
            <h1 class="text-center">Oops! Something went wrong.</h1>
            <div class="alert alert-danger" role="alert">
                <div class="row text-center">
                    <div class="no-tickets">No tickets available</div>
                </div>
                {{#if comment}}
                <div class="row">
                    Comment: {{error_comment}}
                </div>
                {{/if}}
                {{#if message}}
                <div class="row">   
                    Message: {{error_message}}
                </div>
                {{/if}}
            </div>
        </div>
        {{/if}}
    </div>
</div>