<link rel="stylesheet" href="/css/rating-system.css">


<div class="container-fluid page-container">
    <div class="row">
        <div class="col event-image divider-bottom">
            <div class="image-overlay ">
                <h5 class="text-overlay"> <span class="shadowed-text">{{eventInfo.titleUpperCase}}</span></h5>
                <p class="text-overlay">{{eventInfo.locations}}</p>
            </div>
            <p class="date-overlay">{{eventInfo.dates}}</p>
        </div>
    </div>
</div>
<div class="container-fluid bookings-container divider-bottom pb-2">
    <h6> DESCRIPTION </h6>
    <p> {{eventInfo.description}} </p>
    {{#if_eq eventInfo.type "cinema"}}
    <p> Directed by {{eventInfo.director}} </p>
    <p> Starring {{eventInfo.lead_roles}} </p>
    <p> Rated: {{eventInfo.rating}} </p>
    {{else}}
    {{#if_eq eventInfo.type "music"}}
    <p> Artist(s) {{eventInfo.artists}} </p>
    <p> Opening Act: {{eventInfo.opening_act}} </p>
    {{else}}
    {{#if_eq eventInfo.type "theater"}}
    <p> Play Title: {{eventInfo.play_title}} </p>
    <p> Directed by {{eventInfo.director}} </p>
    <p> Writtent by {{eventInfo.scriptwriter}}</p>
    <p> Starring {{eventInfo.lead_roles}} </p>
    {{/if_eq}}
    {{/if_eq}}
    {{/if_eq}}

    <p> Genre: {{eventInfo.genre}} </p>
    <p> Duration: {{eventInfo.duration.hours}} hours {{eventInfo.duration.minutes}} minutes </p>
</div>
<div class="container-fluid bookings-container">
    <h5 class="bookings-reviews-title text-overlay">
        <a href="reviews" class="link link-dark">
            <span class="shadowed-text">REVIEWS</span>
            <span class="">
                <image src="/svgs/Fill5.svg" class="mb-1" style="height: 15px;"></image>
            </span>
        </a>
    </h5>
</div>

<div class="container-fluid divider-bottom bookings-container inter-children-cards" id="review-row">
    <div class="row m-4">
        {{#each reviewList as |review|}}
        <div class="col-md-4 mb-3">
            <div class="card divider-bottom">
                <div class="card-body pt-0">
                    <div class="row">
                        <div class="col text-center pt-3">
                            <h5 class="card-title"><strong>{{review.score}}/5</strong> </h5>
                        </div>
                        <div class="col-10">
                            <div class="ratings-wrapper">
                                <div class="ratings">
                                    <div class="ratings">
                                        <span data-rating="5" {{#if_eq review.score 5 }}data-clicked="true"
                                            {{/if_eq}}>★</span>
                                        <span data-rating="4" {{#if_eq review.score 4 }}data-clicked="true"
                                            {{/if_eq}}>★</span>
                                        <span data-rating="3" {{#if_eq review.score 3 }}data-clicked="true"
                                            {{/if_eq}}>★</span>
                                        <span data-rating="2" {{#if_eq review.score 2 }}data-clicked="true"
                                            {{/if_eq}}>★</span>
                                        <span data-rating="1" {{#if_eq review.score 1 }}data-clicked="true"
                                            {{/if_eq}}>★</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="card-subtitle my-2 ">{{review.username}}</h6>
                    <p class="card-text">{{review.comment}}</p>
                    <div class="d-flex justify-content-end float-right">
                        {{#if_eq review.readmore 1}}
                        <p><a href="reviews" class="link-dark">READ MORE</a></p>
                        {{/if_eq}}
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        <div class="row">
            <div class="col text-end mb-3">
                <a href="reviews" class="view-reviews-link text-overlay link link-dark"> View all</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bookings-container">
    <div class="row">
        <div class="col">
            <h5 class="text-overlay"> <span class="shadowed-text">TICKETS</span></h5>
        </div>
    </div>
    <div class="row">
        <div class="col inter-children-cards" id="tickets-col">
            {{!-- {{log showList}} --}}
            {{#each showList as |show|}}
            <div id="event-show-{{show.showID}}" class="card mt-3 mb-4 pt-1 pb-0" data-toggle="modal"
                data-target="#selectTickets-{{show.showID}}">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title">
                                <span class="event-day">{{show.show_day}}</span>,
                                <span class="event-date">{{show.show_date}}</span>,
                                <span class="event-hour">{{show.show_time}}</span>
                            </h5>
                            <h6 class="card-subtitle mt-1 mb-3 location">
                                <span class="event-venue-name-address">{{show.venue_name_address}}</span>
                            </h6>
                            <h6 class="card-subtitle mt-2 title event-title-artists">{{../eventInfo.titleAndArtist}}
                            </h6>
                        </div>
                        <div class="col d-flex justify-content-end align-items-center">
                            <div class="card-title">
                                <span name="price">from {{show.minimum_price}}€</span>
                                <img src="/svgs/Fill5.svg" class="ms-1 img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}

            <!-- Modal for each show -->
            {{#each grouped as |showCategories|}}
            <div class="modal fade" id="selectTickets-{{showCategories.showID}}" tabindex="-1" role="dialog"
                aria-labelledby="select-tickets" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <br>
                            <div class="close-encaps" data-dismiss="modal" aria-label="Close">
                                <span class="p-1" aria-hidden="true">
                                    <img src="/svgs/GrayX.svg" class="x-close0" alt="">
                                    <img src="/svgs/BlackX.svg" class="x-close1" alt="">
                                </span>
                            </div>
                        </div>
                        <div class="modal-body">
                            <form action="post">
                                <div class="container seating-category-select-rows">
                                    {{#each showCategories.categories as |category|}}
                                    <div class="row seating-category-row py-2">
                                        <div class="col-md-9 text-overlay mb-2">
                                            {{category.category_name}}
                                        </div>
                                        <div class="col-2 text-overlay mt-1">
                                            <p class="base-category-price text-end">{{category.seat_price}}€</p>
                                        </div>
                                        <div class="col-auto">
                                            <img src="/svgs/Plus.svg" class="plus-icon" alt="+">
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                                <div id="modal-info-{{show.showID}}" class="container-fluid">
                                    {{!-- <h5 class="mt-4"><span class="event-day">{{show.show_day}}</span>, <span
                                            class="event-date">{{show.show_date}}</span>, <span
                                            class="event-hour">{{show.show_time}}</span></h5>
                                    <h6 class="card-subtitle mt-2 mb-2 location small"><span
                                            class="event-venue-name-address">{{show.venue_name_address}}</span></h6>
                                    <h6 class="card-subtitle mt-2 title small"> --}}
                                        <span
                                            class="event-title-artists">{{../eventInfo.titleAndArtist}}</span></h6>
                                    <h5 class="text-overlay"><span class="small">FINAL PRICE:</span><span
                                            id="final-price"> 0.00€</span></h5>
                                    <button type="submit" class="btn buy-btn btn-small float-end"
                                        onclick="window.location.href='booking_complete.html'">
                                        <span class="text-overlay">Buy</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>

    </div>
</div>


{{!-- Include the scripts file to set the event image to the handlebars data--}}
<script src="/scripts/scripts.js"></script>

<!-- Call the function with the imageURL from Handlebars -->
<script>
    setEventImage('{{eventInfo.imageURL}}');
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>